.header {
  background-color: rgb(94, 177, 177);
}

.menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.menu__item {
  list-style: none;
  padding: 20px;
}

.menu__item__link {
  text-decoration: none;
  color: black;
}