* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.negrita {
  font-weight: 900;
}

.main {
  padding: 30px;
}

.title {
  margin: 15px;
}

.texto {
  margin: 20px auto;
  margin-left: 15px;
  line-height: 25px;
}

.tooltiptext {
  display: none;
  text-decoration: underline;
  background-color: rgba(17, 23, 34, 0.9);
  width: 400px;
  line-height: 25px;
  z-index: 500;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 14px;  
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  transform: translate(-10%,-115%);
}

.list .tooltip {
  position: relative;
  margin: 0;
  text-decoration: underline;
}

.tooltiptext::after {
  content: "";
  display: block;
  border-top: 10px solid rgba(17, 23, 34, 0.9);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: calc(100%);
  left: calc(15% - 10px);
}

.tooltip:hover .tooltiptext {
  display: inline-block;
}

.list {
  margin-left: 50px;
}

.tooltip:hover {
  color: rgb(54, 120, 241);
}

i {
  color: rgb(82, 81, 81);
  margin-left: 5px;
}