.box {
    width: 100px;
    height: 100px;
}

.container {
    height: 200px;
    width: 100vw;
    border: 2px solid black;
}

.box1 {
   background-color: rgb(133, 172, 159);
   display: inline-block;
   position: absolute;
   left: 124px;
   margin-top: 20px;
}

.box2 {
    background-color: rgb(178, 240, 240);
    display: inline;
    position: absolute;
    left: 2;
    
}

.box3 {
    background-color: rgb(147, 129, 163);
    display: inline;
    position: absolute;
    left: 246px;
    margin-top: 40px;
}
